.contenedor-datosPersonales {
  border: solid 1px;
  border-radius: 20px;
  width: 99%;
  min-height: max-content;
  max-height: min-content;
}

.contenedorContactoUbicacion {
  display: flex;
  border: solid 1px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

.formDatosContacto {
  width: 49%;
  min-height: max-content;
  max-height: min-content;
  border-right: 1px solid;
  padding-right: 10px;
}

.formDatosUbicacion {
  width: 49%;
  min-height: max-content;
  max-height: min-content;
  padding-left: 10px;
}

.button-contactos {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.fila-contactos .dato-contacto {
  text-align: center;

  padding-top: 1px;
  padding-bottom: 1px;
}

.botones-mod {
  margin-right: 3px;
  text-align: center;
}

@media (max-width: 794px) {
  .Formulaio-Contactos {
    font-size: xx-small;
    margin: 0;
  }

  .form-control {
    height: 10px;
    font-size: xx-small;
    padding: 0;
    margin: 0;
  }
  .form-label {
    margin: 0;
    font-size: xx-small;
    padding: 0;
  }

  .fixed-bottom p {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 990px) {
  .Formulaio-Contactos {
    font-size: xx-small;
    margin-top: 0;
  }

  .fila-data {
    height: 35px;
    margin: 0;
    padding: 0;
  }

  .fixed-bottom p {
    font-size: x-small;
  }
}

@media (min-width: 991px) {
  .fixed-bottom {
    display: grid;
    align-content: space-between;
  }
}
