* {
  list-style: none;
  text-decoration: none;
  outline: none;
  font-size: small;
}

#root {
  font-size: small;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 2px;
  padding: 2px;
  border: 2px solid;
  position: relative;
   width: 99vw;
   height: 99vh;
}

input {
  height: 20px;
}

th{
  text-align: center;
}


.container-fluid{
  width: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
}
